<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wifi attendance</title>
</head>
<body>
    <p>{{ msg }}</p>
    <p><a href="/">戳这里立即返回首页</a></p>
    {% if timeout %}
        <script type="application/javascript">
            setTimeout(function () {
                window.location = '{{ redirect_target }}'
            }, {{ timeout }})
        </script>
    {% endif %}
</body>
</html>