<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wifi attendance</title>
</head>
<body>
    <p>hi, {{ request.user.last_name }}{{ request.user.first_name }}(HR)</p>
    <p>以下是所有员工的考勤数据</p>
    <table border="1">
        <thead>
            <tr>
                <th>日期</th>
                <th>姓名</th>
                <th>最早在线时间</th>
                <th>最晚在线时间</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
                <tr>
                    <td>{{ history.date }} </td>
                    <td>{{ history.user__last_name }}{{ history.user__first_name }}</td>
                    <td>{{ history.min_time }}</td>
                    <td>{{ history.max_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>