<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wifi attendance</title>
</head>
<body>
    <p>hi, {{ request.user.last_name }}{{ request.user.first_name }}(HR)</p>
    <p>以下是所有员工的考勤数据</p>
    <ol>
        {% for history in histories %}
            <li>
                姓名: {{ history.user__last_name }}{{ history.user__first_name }} 日期：{{ history.date }} 最早在线时间：{{ history.min_time }} 最晚在线时间：{{ history.max_time }}
            </li>
        {% endfor %}
    </ol>
</body>
</html>